<div layout="column"
    layout-align="center center"
    ng-if="!isGameStarted()">

  <md-button class="md-primary md-raised"
      ng-if="!loading"
      ng-disabled="loading"
      ng-click="newGame()">New game</md-button>
  <md-progress-circular md-mode="indeterminate"
      ng-if="loading"
      md-diameter="96"></md-progress-circular>
</div>

<div layout="column"
    ng-if="isGameStarted()">

  <div layout="row"
      flex>

    <div layout="column"
        flex>

      <div layout="row"
          flex>
        <hanging-guy></hanging-guy>

        <div flex
            layout="column"
            layout-align="start end">

          <div class="wrong-letter-container">

            <div ng-repeat="letter in getWrongLetters()"
                class="md-accent md-whiteframe-5dp">
              <span>{{ letter }}</span>
            </div>
          </div>
        </div>
      </div>

      <div layout="row"
          layout-align="center center">

        <div ng-repeat="letter in word track by $index"
            layout="row"
            layout-align="center center"
            class="md-accent md-whiteframe-5dp letter-container">
          <span>{{ letter }}</span>
        </div>
      </div>
    </div>

    <div layout="column"
        hide-xs
        show-sm
        hide-gt-sm
        flex="50"
        layout-align="start end">
      <onscreen-keyboard disabled="!isKeyboardEnabled()"
          disabled-keys="disabledKeys"></onscreen-keyboard>
    </div>
  </div>

  <div layout="column"
      show-xs
      hide-sm
      show-gt-sm
      layout-align="start center">
    <onscreen-keyboard disabled="!isKeyboardEnabled()"
        disabled-keys="disabledKeys"></onscreen-keyboard>
  </div>
</div>
