<md-icon class="md-primary"
    md-svg-src="head.svg"
    ng-show="isHeadVisible()"
    id="hm-head"></md-icon>
<md-icon class="md-primary"
    md-svg-src="neck.svg"
    ng-show="isNeckVisible()"
    id="hm-neck"></md-icon>
<md-icon class="md-primary"
    md-svg-src="torso.svg"
    ng-show="isTorsoVisible()"
    id="hm-torso"></md-icon>
<md-icon class="md-primary"
    md-svg-src="arm.svg"
    ng-show="isLeftArmVisible()"
    id="hm-left-arm"></md-icon>
<md-icon class="md-primary"
    md-svg-src="arm.svg"
    ng-show="isRightArmVisible()"
    id="hm-right-arm"></md-icon>
<md-icon class="md-primary"
    md-svg-src="hand.svg"
    ng-show="isLeftHandVisible()"
    id="hm-left-hand"></md-icon>
<md-icon class="md-primary"
    md-svg-src="hand.svg"
    ng-show="isRightHandVisible()"
    id="hm-right-hand"></md-icon>
<md-icon class="md-primary"
    md-svg-src="leg.svg"
    ng-show="isLeftLegVisible()"
    id="hm-left-leg"></md-icon>
<md-icon class="md-primary"
    md-svg-src="leg.svg"
    ng-show="isRightLegVisible()"
    id="hm-right-leg"></md-icon>
<md-icon class="md-primary"
    md-svg-src="foot.svg"
    ng-show="isLeftFootVisible()"
    id="hm-left-foot"></md-icon>
<md-icon class="md-primary"
    md-svg-src="foot.svg"
    ng-show="isRightFootVisible()"
    id="hm-right-foot"></md-icon>
