<img src="/img/rope.png" />
<md-icon class="md-primary"
    md-svg-src="/img/head.svg"
    ng-show="validateVisibility(Bodypart.HEAD)"
    id="hm-head"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/neck.svg"
    ng-show="validateVisibility(Bodypart.NECK)"
    id="hm-neck"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/torso.svg"
    ng-show="validateVisibility(Bodypart.TORSO)"
    id="hm-torso"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/arm.svg"
    ng-show="validateVisibility(Bodypart.LEFT_ARM)"
    id="hm-left-arm"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/arm.svg"
    ng-show="validateVisibility(Bodypart.RIGHT_ARM)"
    id="hm-right-arm"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/hand.svg"
    ng-show="validateVisibility(Bodypart.LEFT_HAND)"
    id="hm-left-hand"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/hand.svg"
    ng-show="validateVisibility(Bodypart.RIGHT_HAND)"
    id="hm-right-hand"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/leg.svg"
    ng-show="validateVisibility(Bodypart.LEFT_LEG)"
    id="hm-left-leg"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/leg.svg"
    ng-show="validateVisibility(Bodypart.RIGHT_LEG)"
    id="hm-right-leg"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/foot.svg"
    ng-show="validateVisibility(Bodypart.LEFT_FOOT)"
    id="hm-left-foot"></md-icon>
<md-icon class="md-primary"
    md-svg-src="/img/foot.svg"
    ng-show="validateVisibility(Bodypart.RIGHT_FOOT)"
    id="hm-right-foot"></md-icon>
